body {
    background-color: lightgray;
}

.card {
    text-align: center;
    background-color: azure;
    padding: 0;
    margin: 200px;
    width: 500px;
    height: auto;
    border-radius: 5px;
}

p {
    width: 300px; 
    padding: 10px;         
    line-height: 1;      
    overflow: hidden; 
    margin: 0 auto;
}
img {
    border-radius: 5px;
}