body {
    background-color: lightgray;
}

.media-container {
    background-color: white;
    position: absolute;
    margin: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

header {
    margin: 20px;
    font-size: 30px;
    color: #0b9019;
}

.menu-items {
    display: flex;
    justify-content:space-between;
    background-color: #3f3f3f;
    padding: 10px;
}

.item1 {
    color: rgba(255, 255, 255, 0.892);
}

.item2 {
    color: rgba(255, 255, 255, 0.821);
}

.item3 {
    color: rgba(255, 255, 255, 0.834);
}

.item4 {
    color: rgba(255, 255, 255, 0.84);
}

.main-container {
    display: flex;
} 

aside {
    margin: 5px;
    width: 70rem;
}

main {
    margin: 10px;
    margin-left: 30px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3f3f3f;
    color: rgba(255, 255, 255, 0.84);
}

@media (max-width: 900px) {
    .menu-items {
        display: flex;
        flex-direction: column;
        background-color: #3f3f3f;
        padding: 10px;
        margin: 1rem;
    }

    .main-container {
        display: flex;
        flex-wrap: wrap;
    } 

}